/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2017, 8:28:45 AM
    Author     : porentas
*/

   .panel 
        {
            margin-top:50%;
            opacity:0.7;
            transition:opacity 0.5s linear;
        }
    
    .panel:hover 
        {
            opacity:1;
        }

     .panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}